# DJI Cloud API Configuration
DJI_APP_ID=
DJI_APP_KEY=
DJI_LICENSE=
# MQTT Configuration
MQTT_HOST=192.168.1.
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_KEEPALIVE=60

LOG_LEVEL=INFO
PRETTY_JSON=1
RAW_MESSAGES=0

HOST_ADDR=localhost
CLOUD_NAME=
CLOUD_DESCRIPTION=

TELEMETRY_DB=./data/telemetry.db